* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 5px;
}
body {
  width: 100%;
  background: linear-gradient(to right, rgb(200, 209, 208), rgb(235, 241, 247));
  /* font-family :Georgia, 'Times New Roman', Times, serif; */
  font-size: medium;
}
.container {
  min-height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, rgb(230, 158, 230), rgb(164, 199, 231));
  clip-path: inset(5% 25% 5% 25%);
  /* overflow: hidden; */
}
.glass {
  min-height: 60vh;
  display: flex;
  box-shadow: 6px 6px 20px rgb(190, 187, 187);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.9)
  );
}

.inputForm,
#otpForm {
  padding: 4rem 6rem;
}
#otpForm input {
  padding: 0.4rem 4rem 0.5rem 0.4rem;
  margin: 0.5rem 0rem 1rem;
  color: darkviolet;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
label {
  margin: 2rem 0rem;
  font-weight: 600;
  font-size: 1rem;
}
input {
  padding: 0.4rem 4rem 0.5rem 0.4rem;
  margin: 0.2rem 0rem 0.1rem;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
button {
  border: none;
  box-shadow: none;
}

.submit {
  margin: 0rem 2.5rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
  text-transform: uppercase;
  font-size: 1rem;
  background: rgb(125, 17, 226);
  color: #fff;
}
#attempt,
#attempts,
#span {
  font-weight: 700;
  font-size: 1.05rem;
}
#attempts {
  color: crimson;
}

#span {
  color: green;
}
#otp {
  margin-top: 1rem;
}
#name-err,
#email-err,
#phone-err,
#form-err {
  padding: 5px;
  background: linear-gradient(to right, rgb(200, 209, 208), rgb(235, 241, 247));
  color: darkviolet;
  visibility: hidden;
}
@media (max-width: 400px) {
  .container {
    clip-path: none;
  }
}
